<html lang="id">
    <head>
        <title>•[ARDHI XSQUERPANT'S]•</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=0"/>
        <meta name="author" content=""/>
        <meta name="description" content="">
        
  <link href="css/errorpage.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:700">
      <audio autoplay="autoplay" hidden="hidden" src="http://www.jplayer.org/audio/mp3/Miaow-snip-Stirring-of-a-fool.mp3"></audio>
    </head>
    <body>
      <div id="notfound">
        <div class="notfound-bg">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="notfound">
          <div class="notfound-index">
            <h1>WELCOME</h1>
          </div>
          <h2>REST API</h2>
          <p>Creator: ARDHI</p>
          <a href="https://ardhi-xsquerpants.herokuapp.com/ardi#">GO TO DOCS</a>
          <div class="notfound-social">
            <a href="https://www.instagram.com/ardhixsquerpants">Instagram</a>
            <a href="https://github.com/ardhixsquerpants">Github</a>
            <a href="https://github.com/TobyG74">Facebook</a>
          </div>
        </div>
      </div>
    </body>
 </html>
